* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Layout */
.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #000; /* main black */
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #0f172a; /* dark blue-black */
  color: #ffffff;
  padding: 20px;
  border-right: 1px solid #1f2933;
}

.sidebar-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  color: #ffffff;
}

.sidebar-menu {
  list-style: none;
}

.sidebar-item {
  padding: 12px 15px;
  margin-bottom: 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  color: #cbd5e1;
}

.sidebar-item:hover {
  background: #1e293b;
  color: #ffffff;
}

.sidebar-item.active {
  background: #2563eb;
  color: #ffffff;
  font-weight: bold;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #000;
}

.header {
  background: #020617;
  padding: 18px 25px;
  border-bottom: 1px solid #1f2933;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center; 
}

.header h2 {
  color: #ffffff;
}

.content {
  flex: 1;
  padding: 30px;
  background: #000000; /* PURE BLACK */
  color: #e5e7eb;
  overflow-y: auto;
}
