/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #020617, #0f172a);
  color: white;
  overflow: hidden;
}

/* App Layout */
.app-container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: linear-gradient(to bottom, #020617, #0f172a);
  padding: 20px;
  border-right: 1px solid #1e293b;

  display: flex;
  flex-direction: column;
  justify-content: center; /* change to flex-end if you want menu bottom */
  align-items: center;
}

.sidebar h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.sidebar li {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  background: #020617;
  border: 1px solid #1e293b;
  text-align: center;
  font-size: 14px;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #1e293b;
}

/* Main Content */
.main-content {
  flex: 1;
  height: 100vh;
  background: linear-gradient(to bottom, #020617, #0f172a);
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

/* Student List Container */
.student-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

/* Student Card */
.student-card {
  background: #020617;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #1e293b;
  text-align: center;
  font-size: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.student-card p {
  margin: 4px 0;
}

.student-card hr {
  border: 0;
  height: 1px;
  background: #1e293b;
  margin-top: 8px;
}

/* Section Titles */
.section-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

/* Scrollbar */
.main-content::-webkit-scrollbar {
  width: 6px;
}

.main-content::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 5px;
}

.main-content::-webkit-scrollbar-track {
  background: #020617;
}
